/* PAGINATION */
/* .pagination {
    margin: 3rem 0;
} */

.pagination li {
display: inline-block;
margin-right: .375rem;
font-size: .875rem;
margin-bottom: 2.5em;
}
.pagination li a {
padding: .5rem .625rem;
background-color: white;
border: 1px solid #ddd;
border-radius: 3px;
text-decoration: none;
}
.pagination li.disabled {
display: none;
}

.p-pagination__container {
max-width: 50%;
}

.p-pagination__label {
text-decoration: none;
font-weight: bold;
}

@media screen and (min-width: 30em) {
    .p-pagination__container {
        width: 20rem;
    }
}