/* @import url('https://rsms.me/inter/inter.css');
  html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
} */

:root {
  --content-color: #111;
  --max-width: 48rem;
  --default-transition: color .15s ease-in;
}

body {
  font-family: sans-serif;
}

/* h1, h2, h3, h4 {
  margin-top: 4rem !important;
  color: #20202f;
} */

/* MAIN STYLING */

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin-right: auto; 
  margin-left: auto;
}

.page {
  padding-left: 1rem; 
  padding-right: 1rem;
}

.navigation {
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.navigation--left {
  padding-left: 0;
}

.navigation--right {
  margin-top: .5rem;
}

.navigation__item {
  text-decoration: none;
  color: #333;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .5rem;
  padding-right: .5rem;
  opacity: 1;
  display: inline-block;
}

.navigation__item, .navigation__item:active, .navigation__item:focus, .navigation__item:hover, .navigation__item:link, .navigation__item:visited {
  transition: var(--default-transition);
}

.navigation__item:active, .navigation__item:hover {
  color: #999
}

.list__item:active:after, .list__item:hover:after {
  transition: var(--default-transition);
  background-color: #ddd;
  border-radius: 6px;
}

.title {
  color: #111;
  font-size: 3rem; 
}

.post__title {
  text-align: center;
  padding: 1rem;
  padding-bottom: 0rem;
  margin-bottom: 1rem;
}

.content {
  line-height: 1.625;
  font-size: 1.25rem;
  letter-spacing: 0.02rem;
  color: #111;
}

.footer-divider {
  max-width: var(--max-width);
  border: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 0 solid transparent;
  box-sizing: content-box;
  margin: 2em auto;
  overflow: visible;
  margin-bottom: 1.5625em;
}

.p-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.p-pagination__container {
  border: 3px solid #e5e5e5;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(1,14,40,.05);
  width: 12rem;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.p-pagination__container:hover, .p-pagination__container:active {
  transition: var(--default-transition);
  background-color: #eee;
}

.p-pagination__newer {
  
}

.p-pagination__older {
}

.p-pagination__label {
  color: var(--content-color);
  text-decoration: none;
  font-weight: bold;
}

@media screen and (min-width: 30em) {
  .page {
    padding-left: 2rem; 
    padding-right: 2rem;
  }

  .navigation {
    display: table-cell;
  }

  .navigation--left {
    text-align: left;
    width: 50%;
  }

  .navigation--right {
    text-align: right;
  }

  .navigation_item {
    font-size: 1rem;
  }

  .p-pagination__container {
    width: 20rem;
  }
}

/*
CUSTOM THEME:

.theme-blue { color: #0000aa; }

.bg-theme-blue { background-color: #0000aa; }

.hover-theme-blue:hover { color: #0000aa; }
.hover-theme-blue:focus { color: #0000aa; } */

/* Syntax Highlighting */
pre, .pre  {
  overflow-x: auto;
  overflow-y: hidden;
}

pre  code {
  display: block;
  padding: 1.5em 1.5em;
  white-space: pre;
  font-size: .875rem;
  line-height: 2;
}

/* Highlights for code in body text */
p code {
  background-color: #eff0f1;
}

pre {
  /* background-color: #222;
  color: #ddd; */
  white-space: pre;
  border-radius: 0.3rem;
  hyphens: none;
  position: relative;
}

.filename {
  background: #111;
  padding: .5rem 1rem .75rem;
  font-size: 0.9rem;
  color: #fff;
  font-weight: 700;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: -1.5rem;
}

/* PAGINATION */
.pagination {
  margin: 3rem 0;
}

.pagination li {
  display: inline-block;
  margin-right: .375rem;
  font-size: .875rem;
  margin-bottom: 2.5em;
}
.pagination li a {
  padding: .5rem .625rem;
  background-color: white;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-decoration: none;
}
.pagination li.disabled {
  display: none;
}
.pagination li.active a:link,
.pagination li.active a:active,
.pagination li.active a:visited {
  background-color: #ddd;
}

#TableOfContents ul li {
  margin-bottom: 1em;
}

/* SOCIAL */
.facebook, .twitter, .instagram, .youtube, .github, .gitlab, .linkedin, .medium {
  fill: #BABABA;
}

.new-window {
  opacity: 0;
  display: inline-block;
  vertical-align: top;
}
.link-transition:hover .new-window{
  opacity: 1;
}

.facebook:hover {
  fill: #3b5998;
}

.twitter:hover {
  fill: #1da1f2;
}

.instagram:hover {
  fill: #e1306c;
}

.youtube:hover {
  fill: #cd201f;
}

.github:hover {
  fill: #6cc644;
}

.gitlab:hover {
  fill: #FC6D26;
}

.linkedin:hover {
  fill: #0077b5
}

.medium:hover {
  fill: #0077b5
}