code {
  padding: 2px 4px;
  font-size: 14px;
  background-color: #eeeeee;
}

pre {
  display: block;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
  font-size: 1rem;
}

pre,
code {
  font-family: monocode, monospace;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 6px;
}

code[class*=language-], pre[class*=language-], pre code {
  padding: 1rem;
  font-size: 0.9rem;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.7;
}

@media screen and (min-width: 30em) {
  code[class*=language-], pre[class*=language-], pre code {
    padding: 1.5rem;
    font-size: 1rem;
  }
}