@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
}

.h-screen-60 {
  height: 60vh;
}

.h-screen-75 {
  height: 75vh;
}

.main-container {
  @apply container px-4 mx-auto;
}
