@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
}

.h-screen-60 {
  height: 60vh;
}

.main-container {
  @apply px-4 mx-auto container lg:max-w-5xl;
}

#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #c3e4ff;
  --gradient-color-2: #a4d4f0;
  --gradient-color-3: #ffe2ef;
  --gradient-color-4: #e2b9ff;
}
