<header id="header" class="w-100 pa3 pa4-ns">
    <div class="container db dt-ns mw9 center w-100">
        <div class="dtc-ns v-mid tl-ns w-50-ns w-100 tc">
            <a href="{{ .Site.BaseURL }}" class="title link dib black-90 b f4 f3-ns dib">{{ .Site.Title }}</a>
        </div>
        <nav class="navigation dtc-ns v-mid w-100 tr-ns mt2 tc">
                {{ range .Site.Menus.main }}<a href="{{ .URL }}" class="link dim black f6 f5-ns dib ph2 pv1">{{ .Name }}</a></li>
                {{ end }}
        </nav>
    </div>
</header>