<!-- Add your js files or CDN codes -->
<!-- e.g. <script type="text/javascript" src="js/script.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js" crossorigin="anonymous"></script>
<script>hljs.initHighlightingOnLoad();</script> -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/prism.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-bash.min.js" crossorigin="anonymous"></script> -->

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
