---
import Main from '../layouts/main.astro';
---

<Main title="Contact" description="Contact Ethan Ou">
	<div class="main-container pt-10">
		<h1 class="font-bold text-3xl text-black">Contact</h1>
		
	</div>
</Main>
