---
import PortfolioGrid from '../components/PortfolioGrid.jsx';
import Main from '../layouts/main.astro';

const portfolio = (await Astro.glob('./portfolio/**/*.md')).map((item) => {
	return { ...item.frontmatter, href: item.url }
}).reverse()
---

<Main title="Home" description="Home of Ethan Ou">
	<div class="flex items-center h-screen-60 bg-[url('/assets/mesh-gradient-main.jpg')] bg-cover">
		<div class="main-container">
			<div class="max-w-xl">
				<h1 class="font-bold text-5xl text-white">Hey, I’m Ethan.</h1>
				<p class="pt-3 text-xl text-white">A media and tech generalist, I currently work on improving hybrid
					technology
					at
					UNSW. Also an occasional
					freelance videographer and hobbyist developer. </p>
			</div>
		</div>
	</div>
	<div class="main-container mt-12">
		<h2 class="font-bold text-3xl">Portfolio</h2>
		<PortfolioGrid client:load items={portfolio} />
	</div>
</Main>