---
import { getCollection } from 'astro:content';

import PortfolioGrid from "../components/PortfolioGrid.jsx";
import Main from "../layouts/main.astro";

const portfolio = (await getCollection('portfolio'))
  .map((item) => {
    return { ...item.data, href: `/portfolio/${item.slug}` };
  })
  .reverse();
---

<Main title="Home" description="Home of Ethan Ou">
  <div class="flex items-center pt-24">
    <div class="main-container mt-10">
      <div class="max-w-xl">
        <h1 class="font-bold text-5xl text-black">Hey, I’m Ethan.</h1>
        <p class="pt-3 text-xl text-black">
          I'm a freelance videographer based in Sydney, Australia creating videos for small businesses
          and startups.
        </p>
      </div>
    </div>
  </div>
  <div class="main-container mt-12 pt-10">
    <h2 class="font-bold text-3xl">Portfolio</h2>
    <PortfolioGrid client:load items={portfolio} />
  </div>
</Main>
