<span class="bg-slate-900 text-slate-900"><slot /></span>

<style>
.button {
	display: inline-block;
	border: 3px solid currentColor;
	padding: 0.5em 1em;
	font-weight: 700;
	text-transform: uppercase;
}
</style>