---
import '../styles/global.css';
const { title = '', description = 'The personal site of Ethan Ou' } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<title>{title} | Ethan Ou</title>

<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="preconnect" href="./fonts/Inter.ttf" rel="stylesheet" />