<!-- Add your css files or CDN codes -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css" />
<link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_big-stone.min.css" media="(prefers-color-scheme: dark)"/>
<link
  rel="stylesheet"
  href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/styles/vs2015.min.css"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>

<link rel="stylesheet" href="{{ "css/style.css" | absURL }}">

<!-- Scripts deferred in head for Turbolinks -->
<!-- <script src="//cdn.jsdelivr.net/npm/turbolinks@latest/dist/turbolinks.min.js"></script> -->
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/highlight.min.js" defer></script>
<script defer>
  // For non-turbolinks
  hljs.initHighlightingOnLoad();

  // Code Highlighting for Turbolinks
  // document.addEventListener('turbolinks:load', function() {
  //   document.querySelectorAll('pre code').forEach(function(block) {
  //     hljs.highlightBlock(block);
  //   })
  // })
</script>
