<div class="container">
    {{ range where $.Site.Pages "Section" "home" }}
        <article class="home home--{{ .Params.class }}  page">
            <h1 class="home__title title">{{ .Title }}</h1>
            <section class="home__content content measure f4">
                {{ .Content }}
            </section>
            <br>
        </article>
    {{ end }}
    <section class="list page">
        <h2>Latest Articles:</h2>
        {{ range first 5 (where $.Site.Pages.ByDate.Reverse "Section" "articles") }}
            <div class="list__item link pb1 pb0-l">
                <a class="link items-baseline flex-l" href="{{ .URL }}"> 
                    <h2 class="f4 w-80-l pr2-l mb2 underline-hover">{{ .Title }}</h2>
                    <p class="lh-solid f6 gray mt0 tr-l">{{ .Date.Format "January 1, 2006" }}</p>
                </a>
            </div>
        {{ end }}
        <a class="p-pagination__container p-pagination__older link page black" href="/articles">
            <p class="p-pagination__label tr underline-hover">More 🠖</p>
        </a>
    </section>
</div>