<div>
    {{ range where $.Site.Pages "Section" "home" }}
    <section>
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        <br>
    </section>
    {{ end }}
    <section>
        <h3>Latest Articles: 
            <small style="margin-left: 2rem; text-align: center;">
                <a href="/articles">See all &rarr;</a>
            </small>
        </h3>
        {{ range first 5 (where site.RegularPages.ByDate.Reverse "Section" "articles") }}
        <h4>
            <a href="{{ .URL }}"> 
                {{ .Title }}
            </a>
        </h4>
        {{ end }}
        <br>
        
    </section>
</div>