<div>
    {{ range where $.Site.Pages "Section" "home" }}
        <article>
            <h1>{{ .Title }}</h1>
            <section>
                {{ .Content }}
            </section>
            <br>
        </article>
    {{ end }}
    <section>
        <h2>Latest Articles:</h2>
        {{ range first 5 (where $.Site.Pages.ByDate.Reverse "Section" "articles") }}
            <div>
                <a href="{{ .URL }}"> 
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Date.Format "January 1, 2006" }}</p>
                </a>
            </div>
        {{ end }}
        <br>
        <a href="/articles">
            More &rarr;
        </a>
    </section>
</div>