<div>
    <article>
        <header>
            <h1>{{ .Title }}</h1>
            <div>
                <p><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
                · {{ .ReadingTime}} minute read</p>
                </div>
        </header>
        
        <section>
            {{ .Content }}
        </section>
        {{/*  <footer>
            
            {{ partial "taxonomies" . }}
        </footer>  */}}
    </article>
    <nav>
        {{ if .PrevInSection }}
            <a href="{{ .PrevInSection.Permalink }}">
                <div>
                    <p>&larr; Prev</p>
                    <p>{{ .PrevInSection.Title }}</p>
                </div>
            </a>
            {{ else }}
            {{ end }}
            {{ if .NextInSection }}
            <a href="{{ .NextInSection.Permalink }}">
                <div>
                    <p>Next &rarr;</p>
                    <p>{{ .NextInSection.Title }}</p>
                </div>
            </a>
            {{ else }}
            {{ end }}
    </nav>
</div>